# Rojo
*.rbxl
*.rbxlx
*.rbxm
*.rbxmx

# Wally
Packages/
wally.lock

node_modules/
package-lock.json

# Roblox Studio
*.rsm

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Sourcemap
sourcemap.json
